.App {
  text-align: center;
  /* background-color: aqua; */
}

.App-logo {
  height: 10vmin;
  padding-top: 80px;
  padding-bottom: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container{
  /* align-items: center;
   */
  padding: 50px;
  background-color: aliceblue;
  /* padding-left: 600px; */
  margin: 200px;
  margin-left: 610px;
  height: 450px;
  width: 600px;
  /* border: 2px solid; */
  border-radius: 8px;

}
.button{
  background-color: aqua; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.id3{
  font-size: large;

}
.id4{
  font-size: x-large;
}